In [1]:
# Data libraries
import pandas_datareader as pdr
import datetime
import time
from datetime import date
import pandas as pd

# Visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
# Set the start and end dates for your data
# End date set for today, so will pull all data up to latest releases

start_date = datetime.datetime(1960, 1, 1)
end_date = date.today()

In [50]:
# Define the FRED indicator codes you want to fetch.
establishment_survey= ['PAYEMS',"USPRIV",'UNRATE',"CES0500000003","AWHAETP"]

# Fetch the data from FRED
establishment_survey_data = pdr.get_data_fred(establishment_survey, start_date, end_date)
establishment_survey_data.columns = ["Headline payrolls","Private payrolls","Unemployment rate","Average hourly earnings","Average Weekly Hours"]
establishment_survey_data["Headline payrolls"] = establishment_survey_data["Headline payrolls"].diff()
establishment_survey_data["Private payrolls"] = establishment_survey_data["Private payrolls"].diff()
establishment_survey_data["Average hourly earnings (w/w)"] = round(establishment_survey_data["Average hourly earnings"].pct_change() * 100,2)
establishment_survey_data["Average hourly earnings (y/y)"] = round(establishment_survey_data["Average hourly earnings"].pct_change(12) * 100, 2)

In [51]:
establishment_survey_data

,Headline payrolls,Private payrolls,Unemployment rate,Average hourly earnings,Average Weekly Hours,Average hourly earnings (w/w),Average hourly earnings (y/y)
DATE,,,,,,,
1960-01-01,NaN,NaN,5.2,NaN,NaN,NaN,NaN
1960-02-01,239.0,220.0,4.8,NaN,NaN,NaN,NaN
1960-03-01,-59.0,-258.0,5.4,NaN,NaN,NaN,NaN
1960-04-01,359.0,350.0,5.2,NaN,NaN,NaN,NaN
1960-05-01,-338.0,-236.0,5.1,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2023-08-01,165.0,114.0,3.8,33.82,34.4,0.27,4.29
2023-09-01,262.0,199.0,3.8,33.91,34.4,0.27,4.24
2023-10-01,105.0,44.0,3.8,34.00,34.3,0.27,4.10
2023-11-01,173.0,136.0,3.7,34.12,34.4,0.35,4.02
2023-12-01,216.0,164.0,3.7,34.27,34.3,0.44,4.10

In [46]:
household_survey = ["CE16OV","CIVPART","LNS12300060"]

household_survey_data = pdr.get_data_fred(household_survey,start_date,end_date)
household_survey_data.columns = ["Employment level change (m/m)","Labor force participation rate","Prime-age employment to population ratio"]
household_survey_data["Employment level change (m/m)"] = household_survey_data["Employment level change (m/m)"].diff()

In [47]:
household_survey_data

,Employment level change (m/m),Labor force participation rate,Prime-age employment to population ratio
DATE,,,
1960-01-01,NaN,59.1,65.8
1960-02-01,273.0,59.1,65.9
1960-03-01,-947.0,58.5,65.3
1960-04-01,1286.0,59.5,66.1
1960-05-01,98.0,59.5,66.2
...,...,...,...
2023-08-01,291.0,62.8,80.8
2023-09-01,50.0,62.8,80.8
2023-10-01,-270.0,62.7,80.6
2023-11-01,586.0,62.8,80.7
2023-12-01,-683.0,62.5,80.4